In [1]:
a=[12,34,1,3,24,35]
print(a[0])

12

In [2]:
print(a[5])

35

In [4]:
print(a[-5])
print(a[-6])

34
12

In [5]:
print(a)

[12, 34, 1, 3, 24, 35]

In [26]:
b=["meet",34,454,False,'meet']
print(b)
b[1]=98
print(b)

['meet', 34, 454, False, 'meet']
['meet', 98, 454, False, 'meet']

In [12]:
friends=['meet','raj','ronak','parth','krisil']
print(friends[0:4])
print(friends[-2:4])
print(friends[:4])
print(friends[-1:])

['meet', 'raj', 'ronak', 'parth']
['parth']
['meet', 'raj', 'ronak', 'parth']
['krisil']

In [14]:
#sorting function of the list
l1=[12,54,23,1,76,342,12,133]
l1.sort()
print(l1)

[1, 12, 12, 23, 54, 76, 133, 342]

In [15]:
#reverse the  list 
l1.reverse()
print(l1)

[342, 133, 76, 54, 23, 12, 12, 1]

In [17]:
#append add value at the end of the list
l1.append(43)
print(l1)

[342, 133, 76, 54, 23, 12, 12, 1, 43, 43]

In [18]:
m=[12,43,234,244,2565]
m.append(100)
print(m)

[12, 43, 234, 244, 2565, 100]

In [20]:
m.insert(3,98)#insert 98 at the index 3
print(m)

[12, 43, 234, 98, 98, 244, 2565, 100]

In [23]:
#pop
m=[23,55,2,43,3435,23,254,556]
m.pop(4)#will remove element at index 4
print(m)

[23, 55, 2, 43, 23, 254, 556]

In [24]:
#remove
m.remove(43)#will remove particular value directly without using indexing
print(m)

[23, 55, 2, 23, 254, 556]

In [25]:
#tuples
#in tuple we can not update the value ,we can print the value
#they are immutable(can not change)

In [27]:
a=(1,3,4,5,6,6,7,6)
print(a)

(1, 3, 4, 5, 6, 6, 7, 6)

In [29]:
c=(12,)#this is tupple with one element can be printed
#c=(12) this is wrong way to print tuple
print(c)

12

In [31]:
print(a.count(6))

3

In [32]:
print(a.index(5))

3

In [33]:
#############practice set##################

In [34]:
f1=input(print("enter fruits number 1"))
f2=input(print("enter fruits number 2"))
f3=input(print("enter fruits number 3"))
f4=input(print("enter fruits number 4"))
f5=input(print("enter fruits number 5"))
f6=input(print("enter fruits number 6"))
f7=input(print("enter fruits number 7"))
my_fruit_list=[f1,f2,f3,f4,f5,f6,f7]
print(my_fruit_list)

enter fruits number 1
Noneapple
enter fruits number 2
Nonebanana
enter fruits number 3
Nonechichoo
enter fruits number 4
Nonepapaya
enter fruits number 5
Nonecoconut
enter fruits number 6
Noneorange
enter fruits number 7
Nonekiwi
['apple', 'banana', 'chichoo', 'papaya', 'coconut', 'orange', 'kiwi']

In [38]:
s1=int(input(print("enter marks of student number 1")))
s2=int(input(print("enter marks of student number 2")))
s3=int(input(print("enter marks of student number 3")))
s4=int(input(print("enter marks of student number 4")))
s5=int(input(print("enter marks of student number 5")))
s6=int(input(print("enter marks of student number 6")))
s7=int(input(print("enter marks of student number 7")))
student=[s1,s2,s3,s4,s5,s6,s7]
print(student)
student.sort()
print(student)

enter marks of student number 1
None12
enter marks of student number 2
None13
enter marks of student number 3
None34
enter marks of student number 4
None1
enter marks of student number 5
None43
enter marks of student number 6
None3
enter marks of student number 7
None5
[12, 13, 34, 1, 43, 3, 5]
[1, 3, 5, 12, 13, 34, 43]

a=[1,3,4,4]
print(a[0]+a[1]+a[2]+a[3])

In [41]:
a=[1,3,4,4] 
print(a[0]+a[1]+a[2]+a[3])
print(sum(a))#this is how you can print sum of all element of list very easily

12
12

In [42]:
a=(7,0,8,0,0,9)
print(a.count(0))

3